.diptych-image {
	width: 100%;
	font-size: 0;
	margin-bottom: 20px;

	@include mobile {
		margin-bottom: 15px;
	}
}

.diptych-image__wrapper {
	height: auto;
}

.diptych-image__image {
	width: 50%;
	width: calc(50% - 10px);
	height: auto;

	@include mobile {
		width: 100%;
	}
}


.diptych-image__image--left {
	margin-right: 20px;

	@include mobile {
		margin-right: 0;
		margin-bottom: 15px;
	}
}