.pagination {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1.2em;
	padding: 0 20px;

	@include mobile {
		padding: 10px;
		margin-bottom: 0.5em;
	}
}

.pagination__next,
.pagination__prev {
	width: 20%;
}



.pagination__next {
	text-align: right;
}

.pagination__prev--disabled,
.pagination__next--disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pagination__link-skew {
	display: inline-block;
	transition: transform 0.22s ease-out;
}

.is-desktop .pagination__next:hover .pagination__link-skew{
	transform: skew(-75deg) scaleY(0.7);
}

.is-desktop .pagination__prev:hover .pagination__link-skew {
	transform: skew(75deg) scaleY(0.7);
}

.is-desktop .pagination__page-link a {
	display: inline-block;
	transition: transform 0.22s ease-out;
}

.is-desktop .pagination__page-link:hover a {
	transform: skew(-75deg) scaleY(0.7);
}


.pagination__glyph {
	display: block;
	margin-top: 8px;
}

.pagination__page-link {
	display: inline-block;
}


.pagination__page-link--active {
	pointer-events: none;
}

.pagination__page-link--active a {
	text-decoration: underline;
}

.pagination__page-link:not(:last-child):after {
	content: '/';
}